@model PassionProject.Models.ViewModels.CardNew

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>New Card</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" action="/CardsPage/Add">
            <div class="form-group">
                <label class="control-label">Card Name:</label>
                <input name="CardName" class="form-control" />
            </div>
            <div class="form-group" id="colorChecker">
                <label class="control-label" for="Colours">Colors: </label>
                <input name="Colours" class="form-control" id="Colours" value=" " />
                @*make a checkbox option for each checkbox then go to css and change the styling*@
                <input type="checkbox" id="white" name="whiteColor" value="white"/>
                <label for="white">white</label>
                <input type="checkbox" id="blue" name="blueColor" value="blue" />
                <label for="blue">blue</label>
                <input type="checkbox" id="black" name="blackeColor" value="black" />
                <label for="black">black</label>
                <input type="checkbox" id="red" name="redColor" value="red" />
                <label for="red">red</label>
                <input type="checkbox" id="green" name="greenColor" value="green" />
                <label for="green">green</label>
                <input type="checkbox" id="multiple" name="multipleColors" value="multiple" />
                <label for="multipleColors">multiple</label>
                   
                <script type="text/javascript">
                    let colVal = document.getElementById("Colours");
                    let temp = [];
                    document.querySelector("#colorChecker").onclick = function (ev) {
                        if (!temp.includes(ev.target.value) && ev.target.checked) {
                            temp.push(ev.target.value);
                            console.log(temp);
                        } else if (temp.includes(ev.target.value) && !ev.target.checked) {
                            let index = temp.indexOf(ev.target.value);
                            console.log(temp);
                            temp.splice(index, 1);
                        }
                        colVal.value = temp.join(", ");
                        console.log(ev.target.checked, ev.target.value);
                    };
                </script>
            </div>

            <div class="form-group">
                <label for="ColorId" class="control-label">ColorId:</label>
                <select name="ColorId" class="form-control" id="colorIDSelect">
                    @foreach (var id in Model.colors)
                    {
                        <option value="@id.ColorId">@id.ColorName</option>
                        
                    }
                    <script>
                        document.querySelector("#colorIDSelect").onclick = function (ev) {
                            let selection = ev.target.selectedOptions[0].innerHTML;
                            document.querySelector("#Colors").value = selection;
                        }
                    </script>
                </select>
            </div>
            <div class="form-group">
                <input type="hidden" name="Colors" id="Colors"/>
            </div>

            <div class="form-group">
                <input type="hidden" name="Artist" class="form-control" id="Artist"/>
            </div>
            <div class="form-group">
                <input type="hidden" name="ArtistName" class="form-control" id="ArtistName" />
            </div>
            <div class="form-group">
                <label class="control-label" for="ArtistName">Artist: </label>
                <select name="ArtistId" class="form-control" id="ArtistSelect">
                    @foreach (var artist in Model.artists)
                    {
                        <option value="@artist.ArtistId">@artist.ArtistName </option>
                        
                    }
                    <script>
                        document.querySelector("#ArtistSelect").onclick = function (ev) {
                            let artist = ev.target.value;
                            let selection = ev.target.selectedOptions[0].innerHTML;
                            document.querySelector("#Artist").value = selection;
                            document.querySelector("#ArtistName").value = selection;
                        }
                    </script>
                </select>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>        
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}