@model PassionProject.Models.Card

<div class="row">
    <h1>Are you Sure?</h1>
    <p>Are you sure you want to delete this card?</p>

    <div class="card">
        <div class="card-title">
            <h1>@Model.CardName</h1>
        </div>
        <p>Once this card is deleted you will need to add it again</p>
    </div>
    <form method="post" action="/CardsPage/Delete/@Model.CardId">
        <input type="submit" value="Delete" class="btn-danger" />
    </form>
    <form method="get" action="/CardsPage/List">
        <input type="submit" value="Back" class="btn-primary" />
    </form>
</div>