@model PassionProject.Models.Card

@{
    ViewData["Title"] = "Details";
}
<div class="crudButton">
    <a class="btn btn-primary" href="/CardsPage/Edit/@Model.CardId">Edit</a>
    <a class="btn btn-danger" href="/CardsPage/DeleteConfirm/@Model.CardId">Delete</a>
</div>
<h1>@Html.DisplayFor(model => model.CardName)</h1>

<div class="row">
    <div>
        <label>Colors:</label>
        <!-- Have a display of different circles with the colors, when data is received use JS to add classes to visible based on colors of the card-->
        <p>@Html.DisplayFor(model => model.Colours)</p>
    </div>
    <div>
        <label>Artist:</label>
        <p>@Html.DisplayFor(model => model.Artist)</p>
    </div>
    <form action="/CardsPage/List">
        <button type="submit">Back</button>
    </form>
</div>

<script type="text/javascript">
    var userAuthorized = @User.Identity.IsAuthenticated.ToString().ToLower();
    if (!userAuthorized) {
        var crudbuttons = document.querySelectorAll(".crudButton");
        crudbuttons.forEach(btn => {
            btn.style.display = "none";
        })
    }
</script>