@model PassionProject.Models.Artist

@{
    ViewData["Title"] = "Details";
}
<div class="crudButton">
    <a class="btn btn-primary" href="/ArtistsPage/Edit/@Model.ArtistId">Edit</a>
    <a class="btn btn-danger" href="/ArtistsPage/DeleteConfirm/@Model.ArtistId">Delete</a>
</div>
<h1>@Html.DisplayFor(model => model.ArtistName)</h1>

<div class="row">
    <div>
        <label>Cards:</label>
        <!-- TODO: Have a way to retreive all connected data from db based on ArtistId and show here-->
        <p>@Model.Cards</p>
    </div>
    <form action="/ArtistsPage/List">
        <button type="submit">Back</button>
    </form>
</div>

<script type="text/javascript">
    var userAuthorized = @User.Identity.IsAuthenticated.ToString().ToLower();
    if (!userAuthorized) {
        var crudbuttons = document.querySelectorAll(".crudButton");
        crudbuttons.forEach(btn => {
            btn.style.display = "none";
        })
    }
</script>