@model PassionProject.Models.Artist

@{
    ViewData["Title"] = "Details";
}
<div>
    <a class="btn btn-primary" href="/ArtistsPage/Edit/@Model.ArtistId">Edit</a>
    <a class="btn btn-danger" href="/ArtistsPage/DeleteConfirm/@Model.ArtistId">Delete</a>
</div>
<h1>@Html.DisplayFor(model => model.ArtistName)</h1>

<div class="row">
    <div>
        <label>Cards:</label>
        <p>@Model.Cards</p>
    </div>
    <form action="/ArtistsPage/List">
        <button type="submit">Back</button>
    </form>
</div>