@model IEnumerable<PassionProject.Models.Artist>

@{
    ViewData["Title"] = "Artists";
}

<h1>Artists</h1>

<div class="row">
    <form method="get" action="/ArtistsPage/Create">
        <input type="submit" value="Create New" class="btn-primary" />
    </form>
</div>
<div href="row">
    @foreach (var Artist in Model)
    {
        <div>
            <h1><a href="/ArtistsPage/Details/@Artist.ArtistId">@Artist.ArtistName</a></h1>
            <div>@Artist.Cards</div>
        </div>
    }
</div>